<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @cleaner.first_name %></h1>

    <p>
      You are allocated for cleaner work
      please contact customer.

      Your customer is :- <%=@customer.first_name %></br>
      Contact No       :- <%=@customer.phone_number %></br>
    </p>
  </body>
</html>
