<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @cleaner.first_name %></h1>

      <h3>You are allocated for cleaner work</h3>
      <h3>please contact customer.</h3><br>

      Your customer is :- <%=@customer.first_name %><br>
      Contact No       :- <%=@customer.phone_number %><br>
    </p>
  </body>
</html>
