<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home Work", root_path %></li>
    <li class="active">Cleaner</li>
    <p class="pull-right text-white"><%= link_to "New Cleaner",new_cleaner_path, class: "btn btn-success btn-xs" %></p>
  </ol>

  <div class="jumbotron">
    <p>
      Dear cleaner,<br><br>

      Congratulation...!!! <br><br>

      Now you are part of Homework and soon you get leads from us.<br><br>

      Thank You<br><br>

      Regarding,<br>
      HomeWork
    </p>
  </div>
</div>
