<h1>Editing Cleaner</h1>

<%= render 'form' %>


<%= link_to  @cleaner,title: 'show Cleaner' do %>
<span class="glyphicon glyphicon-eye-open"></span>
<% end %>
 |
 <%= link_to  cleaners_path,title: 'Back to All Cleaner' do %>
   <span class="glyphicon glyphicon-arrow-left"></span>
 <% end %>
