<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @cleaner.first_name %> </h1>
    <br>
    Hello we have work for your please contact <%= @customer.phone_number %>
    and name is <%= @customer.first_name %>.
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>
