<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home Work", root_path %></li>
    <% if current_admin %>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="active">Customer Sign Up & Schedule</li>
    <% else %>
      <li class="active">Customer Sign Up & Schedule</li>
    <% end %>
  </ol>
  <%= render 'layouts/notice' %>

  <center><h2>Customer Sign Up & Schedule</h2></center><br>

  <%= render 'form' %>

</div>
