<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home Work", root_path %></li>
    <% if current_admin %>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="active">Customer Sign Up & Schedule</li>
    <% else %>
      <li class="active">Customer Sign Up & Schedule</li>
    <% end %>
  </ol>
  <% if notice.present?  %>
    <div class="alert alert-success" role="alert" id="notice"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <center><h2>Customer Sign Up & Schedule</h2></center><br>

  <%= render 'form' %>

</div>
