<div class="panel panel-default">
  <div class="panel-heading">Derails of bookings by <%= full_name(@customer) %></div>
   <div class="panel-body">
     <table border="2" class="table table-hover table-striped">
       <tr>
         <th>Date</th>
         <th>Cleaner name</th>
         <th>City</th>
       </tr>
       <% @customer_booking.each do |booking| %>
        <tr>
          <td>
            <%= booking.datetime %>
          </td>
          <td>
            <%= full_name(booking.cleaner) %>
          </td>
          <td>
            <%= booking.city.city_name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
