<h1>Cities</h1>

<div class="ibox-tools">
  <%= link_to 'Add City', new_city_path, :class => 'btn btn-success btn-xs'%>
</div>

<table class="table table-hover col-sm-5">
<% @cities.each do |city| %>
<tr>
  <td><%= city.name%></td>
  <td><%= link_to "Delete" , city_path(city) , method: :delete %></td>
</tr>
<% end %>
</table>
